* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: grey;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#glitch-city{
    position: absolute;
    width: 50rem;
    height: 30rem;
    border-radius: 12px;
}

#game-title{
    position: absolute;
    width: 20rem;
    z-index: 1;
}




