*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: .3rem solid black;
    display: flex;
    align-items: center;
    height: 50vh;
}

.box{
    width: 10rem;
    height: 10rem;
    flex-wrap: wrap;
}

.box1 {
    background-color: blue;
}

.box2{
    background-color: blueviolet;
}

.box3 {
    background-color: cornflowerblue;
}

.box4 {
    background-color: purple
}

.box5{
    background-color: royalblue;
}

.box6{
    background-color: skyblue;
}